html,
body,
header,
.view {
  height: 100%;
}

@media (max-width: 740px) {
  html,
  body,
  header,
  .view {
    height: 100vh;
  }
}

.top-nav-collapse {
  background-color: #bb9019 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #78909c !important;
  }
}

h1 {
  letter-spacing: 8px;
}

h5 {
  letter-spacing: 3px;
}

.hr-light {
  border-top: 3px solid #fff;
  width: 80px;
}
.row{
 padding-top:10%;
}
.jumbotron{
 background-color:rgba(233, 0, 70, 0.7);
}

@import url('https://fonts.googleapis.com/css?family=Racing+Sans+One|Roboto');

@function randomVal() {
  @return random(256) - 1;
}

@mixin randomRGBA() {
  background-color: rgba(randomVal(), randomVal(), randomVal(), .25);
}

body {
 // overflow: hidden;
  height: 100%;
}

.slide {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  z-index: 1;
  transition: opacity 1s;
 
  @media (min-width: 768px) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  
  
  &.visible {
    opacity: 1;
    z-index: 2;
  }
}

$slides: 6;
@while $slides>=0 {
  .slide[data-slide="slide-#{$slides}"] {
    @include randomRGBA();
  }
  $slides: $slides - 1;
}

.slide-image {
  flex: 0 1 50%;

  img {
    width: 100%;
    height: 75vh;
    object-fit: cover;
  
    @media (min-width: 768px) {
      height: 100vh;
    }
  }
}

.slide-caption {
  flex: 0 1 50%;
  display: flex;
  background-color: inherit;
}

.slide-caption-content {
  margin: auto;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  line-height: 1;
  font-size: calc(14px + (19 - 14) * (100vw - 426px) / (768 - 426));
  background-color: inherit;
  padding: 0 .5em;
  
  @media(min-width: 768px) {
    width: 90%;
    line-height: 1.5;
    font-size: 1.25rem;
  }
  
  p {
    padding: 0 1em;
  }
}

.title-bg {
  background-color: inherit;
  padding: 0 .75em;

  h1 {
    font-family: 'Racing Sans One', serif;
    font-size: calc(28px + (44 - 28) * (100vw - 426px) / (768 - 426));
    font-weight: 700;
    line-height: 1.2;
    padding: 5px 0;
    
    @media(max-width: 425px) {
      margin: 0;
    }
    
    @media(min-width: 768px) {
      font-size: 2.8125rem;
    }
    
  }
}

@import url('https://fonts.googleapis.com/css?family=Raleway:100,400');
body {
  font-family: 'Raleway', sans-serif;
  font-weight: thin;
  background: black;
}
body:after{
  content: "";
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  margin: 0;
  z-index: -1;
  width: 200%;
  height: 200%;
  background: url('https://i.pinimg.com/736x/f1/2e/2a/f12e2a1c7e8393322f71358a79139436--jedi-sith-episode-vii.jpg');
  background-size: contain;
  background-position: 600px -200px;
  
  filter: blur(30px);
}
.movie-card {
  position: relative;
  box-sizing: border-box;
  width: 50%;
  max-width: 800px;
  height: 300px;
  background-position: center;
  background-size: cover;
  margin: 4vh auto;
  border-radius: 4px;
  box-shadow: 2px 3px 12px rgba(0, 0, 0, .4);
  color: white;
  padding: 2vh 3%;
}
.movie-card:after{
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(to right, rgba(40,40,60,1) 0%,rgba(40,0,60,0) 90%);
  background-blend-mode: multiply;
  will-change: transform;
  z-index: 0;
}
i {
  font-size: .7em;
  color: #ff5b84;
}
h1 {
  font-size: 170%;
  position: relative;
  z-index: 10;
}
span {
  display: inline-block;
  position: relative;
  z-index: 10;
  margin-right: 80px;
  color: rgb(210, 210, 210);
}
.watch {
  display: block;
  border: 1px solid white;
  border-radius: 4px;
  position: relative;
  z-index: 10;
  color: white;
  padding: 10px;
  text-align: center;
  background: rgba(0, 0, 0, .3);
  margin: 20px 0px;
  outline: none;
  box-shadow: 0 0 10px rgba(0,0,0,.5);
  transition: all .2s;
}
button:hover {
  background: rgba(255, 255, 255, .8);
  color: black;
  box-shadow: 0 0 10px rgba(255,255,255,.5);
  mix-blend-mode: screen;
}
button:active {
  transform: translateY(2px);
}
p {
  position: relative;
  z-index: 10;
  font-size: .8em;
  width: 60%;
  height: 35%;
}

@media (max-width: 768px) {
  body {
/*     background: none; */
  }
  .movie-card {
    width: 75%;
    height: 200px;
  }
  h1 {
  font-size: 120%;
  }
  p {
    display: none;
/*     overflow: hidden;
    width: 100%;
    height: 30%; */
  }
  .watch {
    margin: 5% auto;
  }
}
@media (max-width: 500px) {
  .movie-card {
    width: 100%;
  }
}

#container{
    display: flex;
    justify-content: center;
  }
  
  #output{
    display: flex;
  }
  
  /* centrer avatar card dans un conteneur grille grid */
  #conteneur-avatar-card{
    height: 410px;
    display: grid;
    grid-template-rows: 100vh;
    grid-template-columns: 1fr;
  }
  
  /* centrer le contenu de l'avatar card */
  .card{
    display: grid;
    width: 300px;
    height: 395px;
    margin: 50px 10px 0px 10px;
    border: 2px solid #008bcc;
    align-self: center;
    text-align: center;
  }
  
  /* appliquer une width, height et un radius à l'image H.Freeman*/
  .card-img-top{
    width: 110px;
    height: 110px;
    margin-top: -1vh;
    justify-self: center;
    align-self: center; 
    border-radius: 50%;
    border: 3px solid #0062cc;
  }
  
  #super-hero{
    margin-top: -3vh;
  }
  
  .btn{
    margin-top: 15px;
  }

